<ng-container>
    <div class="card" style="width: 50vh;">
        <div class="card-boy">
            <div class="row text-center">
                <h2>¿Tuviste un mal momento?</h2>
            </div>
            <div class="mb-6 row text-center">
                <p>Por favor, cuentanos que ocurrió</p>
            </div>
            <div class="mb-6 row text-center">
                <div class="btn-container col-12">
                    <button class="btn btn-success" type="submit">Denuncia aquí</button>
                </div>
            </div>
        </div>
    </div>
</ng-container>
