<ng-container>
    <div class="card position-relative">
        <div class="card-body text-center" >
            <h2>Estatus de Denuncia</h2>
            <p>Visualiza el estado de tu denuncia</p>
            <form action="">
                <div class="mb-6 row">
                    <label for="folio" class="col-sm-3 col-form-label">Folio</label>
                    <div class="col-sm-6">
                        <input type="text" class="col-sm-3 form-control " id="folio" maxlength="5" 
                        size="5" placeholder="Ex. 55555" required>
                    </div>
                </div>
                <br>
                <div class="mb-6 row">
                    <label for="inputPassword" class="col-sm-3 col-form-label">Password</label>
                    <div class="col-sm-6">
                      <input type="password" class="form-control" id="inputPassword" minlength="8"
                       maxlength="12" placeholder="Ingrese su contraseña" required>
                    </div>
                </div>
                <div class="mb-6 row">
                    <div class="btn-container col-12">
                        <button class="btn btn-success" type="submit">Ingresar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</ng-container>
